# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.pyc

# Virtual Environment
env_name/
venv/
ENV/
env/
.venv

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env
secrets.json
